package models

import "encoding/json"

type {{.GoName}} struct { {{range .Fields}}
    {{.GoName}} {{.ValueType}} `json:"{{.FieldName}}"`{{end}}
}

func (m {{.GoName}}) CollectionName() string {
	return "{{.CollectionName}}"
}

func (m {{.GoName}}) Get(field string) interface{} {
	switch field { {{range .Fields}}
	case "{{.FieldName}}":
	    return m.{{.GoName}}{{end}}
	}

	return nil
}

func (m {{.GoName}}) Update(data map[string]string) error { {{range .Fields}}
	if val, ok := data["{{.FieldName}}"]; ok {
		err := json.Unmarshal([]byte(val), &m.{{.GoName}})
		if err != nil {
			return err
		}
	}
	{{end}}

	return nil
}

