<link rel="stylesheet" type="text/css" href="/system/projector/static/slide/poll_common.css" />
<link rel="stylesheet" type="text/css" href="/system/projector/static/slide/poll_chart.css" />

<div class="content">
  <div class="slidetitle">
    <h1>
      {{ .Poll.Title }}
    </h1>
  </div>

  {{ if .Data.ResultTitle }}
    <h3 class="result-title">{{ .Data.ResultTitle }}</h3>
  {{ end }}
  {{ if .Poll.Published }}
    <div class="transform-scale">
      <div class="result-wrapper extra-grid-slide">
        <div class="scroll-inner">
          <table class="result-table">
            <tbody>
              {{ range $i, $o := .Data.Options }}
                <tr
                  {{ if not $o.GlobalOption }}
                    style="color: var(--chart-bg-color-{{ $i }}{{ if $o.Color }}, var({{ $o.Color }}){{ end }})"
                  {{ end }}
                >
                  <td class="label-column" style="min-width: 300px">
                    <projector-icon-container icon="{{ $o.Icon }}">
                      <span class="option-name">{{ $o.Name }}</span>
                    </projector-icon-container>
                  </td>
                  <td style="min-width: 80px">
                    <div class="result-cell-definition">
                      {{ $o.TotalVotes }}
                    </div>
                  </td>
                  <td>
                    {{ if $o.PercVotes }}
                      <div class="result-cell-definition">{{ $o.PercVotes }} %</div>
                    {{ end }}
                  </td>
                </tr>
              {{ end }}
              <tr class="valid-votes-row">
                <td>{{ Loc.Get "Valid votes" }}</td>
                <td class="result-cell-definition">{{ .Data.TotalValidvotes }}</td>
                {{ if .Data.PercValidvotes }}
                  <td class="result-cell-definition">{{ .Data.PercValidvotes }} %</td>
                {{ end }}
              </tr>
            </tbody>
          </table>
        </div>
        <!-- Chart -->
        {{ if .Data.ChartData }}
          <div class="doughnut-chart-slide">
            <projector-poll-chart class="poll-chart-canvas-style">
              {{ .Data.ChartData }}
            </projector-poll-chart>
          </div>
        {{ end }}
      </div>
    </div>
  {{ end }}
</div>
