<link rel="stylesheet" type="text/css" href="/system/projector/static/slide/poll_common.css" />
<link rel="stylesheet" type="text/css" href="/system/projector/static/slide/poll_single_vote.css" />

<div class="content full-height poll-single-vote">
  {{ if .State }}
    <div class="single-votes-slidetitle">
      <h1>{{ .Title }}</h1>
    </div>
    <div class="state-message"><i>{{ .State }}</i></div>
  {{ else }}
    <div class="single-votes-header">
      <div class="single-votes-slidetitle">
        <h1>{{ .Title }}</h1>
        {{ if .Subtitle }}
          <h2 class="poll-title">{{ .Subtitle }}</h2>
        {{ end }}
      </div>

      <div class="poll-bar-wrapper">
        <div class="poll-bar">
          {{ if .LiveVoting }}
            {{ if .NumVotes }}
              <div class="bg-voted" style="flex: {{ .NumVotes }} 0 auto"></div>
            {{ end }}
            {{ if .NumNotVoted }}
              <div class="bg-abstain" style="flex: {{ .NumNotVoted }} 0 auto"></div>
            {{ end }}
          {{ else if .HasResults }}
            {{ range .Data.Options }}
              {{ if $.HasMultiOptions }}
                {{ if .Majority }}
                  <div class="bg-yes" style="flex: {{ .TotalYes }} 0 auto"></div>
                {{ else if .TotalYes.IsPositive }}
                  <div class="bg-non-majority" style="flex: {{ .TotalYes }} 0 auto"></div>
                {{ end }}
              {{ else }}
                {{ if .TotalYes.IsPositive }}
                  <div class="bg-yes" style="flex: {{ .TotalYes }} 0 auto"></div>
                {{ end }}
                {{ if .TotalNo.IsPositive }}
                  <div class="bg-no" style="flex: {{ .TotalNo }} 0 auto"></div>
                {{ end }}
                {{ if and .TotalAbstain.IsPositive (ne $.Poll.OnehundredPercentBase "YN") }}
                  <div class="bg-abstain" style="flex: {{ .TotalAbstain }} 0 auto"></div>
                {{ end }}
              {{ end }}
            {{ end }}
          {{ end }}
        </div>
        <div class="data-area">
          <div class="general-data">
            {{ if .LiveVoting }}
              <div>
                {{ Loc.Get "Received votes" }}:
                {{ .NumVotes }}
              </div>
            {{ else if .HasResults }}
              <div>
                {{ Loc.Get "Valid votes" }}:
                {{ .Data.TotalVotesvalid }}
                {{ if .ShowValidVotesPercent }}
                  ({{ .Data.PercVotesvalid }} %)
                {{ end }}
              </div>
            {{ end }}
            <div>
              {{ Loc.Get "Entitled users" }}:
              {{ .NumEntitledUsers }}
              <!-- if eq .Poll.OnehundredPercentBase "entitled"
                { .Poll.entitled_users_at_stop.length | pollPercentBase: polldata }
              end -->
            </div>
          </div>
          {{ if .LiveVoting }}
            <div class="vote-now">{{ Loc.Get "Please vote now!" }}</div>
            <div class="spacer"></div>
          {{ else if .HasResults }}
            <div class="spacer"></div>
            {{ range .Data.Options }}
              {{ if $.HasMultiOptions }}
                {{ if .Majority }}
                  <projector-icon-container icon="check_circle" iconClass="yes">
                    <div class="total-result-wrapper">
                      <span class="yes number">
                        {{ .Title }}:
                        {{ .TotalYes }}
                      </span>
                      {{ if ne $.Poll.OnehundredPercentBase "disabled" }}
                        <div class="yes percent">{{ .PercYes }} %</div>
                      {{ end }}
                    </div>
                  </projector-icon-container>
                {{ else }}
                  <div class="total-result-wrapper">
                    <span class="non-majority number">
                      {{ .Title }}:
                      {{ .TotalYes }}
                    </span>
                    {{ if ne $.Poll.OnehundredPercentBase "disabled" }}
                      <div class="non-majority percent">{{ .PercYes }} %</div>
                    {{ end }}
                  </div>
                {{ end }}
              {{ else }}
                {{ if $.PollMethod.Yes }}
                  <projector-icon-container icon="check_circle" iconClass="yes">
                    <div class="total-result-wrapper">
                      <span class="yes number">
                        {{ Loc.Get "Yes" }}:
                        {{ .TotalYes }}
                      </span>
                      {{ if ne $.Poll.OnehundredPercentBase "disabled" }}
                        <div class="yes percent">{{ .PercYes }} %</div>
                      {{ end }}
                    </div>
                  </projector-icon-container>
                {{ end }}
                {{ if $.PollMethod.No }}
                  <projector-icon-container icon="cancel" iconClass="no">
                    <div class="total-result-wrapper">
                      <span class="no number">
                        {{ Loc.Get "No" }}:
                        {{ .TotalNo }}
                      </span>
                      {{ if ne $.Poll.OnehundredPercentBase "disabled" }}
                        <div class="no percent">{{ .PercNo }} %</div>
                      {{ end }}
                    </div>
                  </projector-icon-container>
                {{ end }}
                {{ if $.PollMethod.Abstain }}
                  <projector-icon-container icon="circle" iconClass="abstain">
                    <div class="total-result-wrapper">
                      <span class="abstain number">
                        {{ Loc.Get "Abstain" }}:
                        {{ .TotalAbstain }}
                      </span>
                      {{ if $.DisplayPercAbstain }}
                        <div class="abstain percent">{{ .PercAbstain }} %</div>
                      {{ end }}
                    </div>
                  </projector-icon-container>
                {{ end }}
              {{ end }}
            {{ end }}
            {{ if .GlobalOption }}
              {{ if .GlobalPollMethod.Yes }}
                <projector-icon-container icon="check_circle" iconClass="yes">
                  <div class="total-result-wrapper">
                    <span class="yes number">
                      {{ Loc.Get "Yes" }}:
                      {{ .GlobalOption.TotalYes }}
                    </span>
                    {{ if .GlobalOptionInBase }}
                      <div class="yes percent">{{ .GlobalOption.PercYes }} %</div>
                    {{ end }}
                  </div>
                </projector-icon-container>
              {{ end }}
              {{ if .GlobalPollMethod.No }}
                <projector-icon-container icon="cancel" iconClass="no">
                  <div class="total-result-wrapper">
                    <span class="no number">
                      {{ Loc.Get "No" }}:
                      {{ .GlobalOption.TotalNo }}
                    </span>
                    {{ if .GlobalOptionInBase }}
                      <div class="no percent">{{ .GlobalOption.PercNo }} %</div>
                    {{ end }}
                  </div>
                </projector-icon-container>
              {{ end }}
              {{ if .GlobalPollMethod.Abstain }}
                <projector-icon-container icon="circle" iconClass="abstain">
                  <div class="total-result-wrapper">
                    <span class="abstain number">
                      {{ Loc.Get "Abstain" }}:
                      {{ .GlobalOption.TotalAbstain }}
                    </span>
                    {{ if $.DisplayPercAbstain }}
                      <div class="abstain percent">{{ .GlobalOption.PercAbstain }} %</div>
                    {{ end }}
                  </div>
                </projector-icon-container>
              {{ end }}
            {{ end }}
          {{ end }}
        </div>
      </div>
    </div>

    <div class="content-wrapper font-scale votes-area" style="--visible-columns: {{ .MaxColumns }};">
      {{ $hasResults := .HasResults }}
      {{ $hasYes := .PollMethod.Yes }}
      {{ $hasNo := .PollMethod.No }}
      {{ $hasAbstain := .PollMethod.Abstain }}
      {{ range .Data.GroupedVotes }}
        {{ if or .Title (and $hasResults $.SingleOption) }}
          <div class="structure-level">
            <h3>{{ .Title }}</h3>
            {{ if and $hasResults $.SingleOption }}
              <div class="results">
                {{ if $hasYes }}
                  <projector-icon-container icon="check_circle" iconClass="yes">
                    <span class="amount">{{ .TotalYes }}</span>
                  </projector-icon-container>
                {{ end }}
                {{ if $hasNo }}
                  <projector-icon-container icon="cancel" iconClass="no">
                    <span class="amount">{{ .TotalNo }}</span>
                  </projector-icon-container>
                {{ end }}
                {{ if $hasAbstain }}
                  <projector-icon-container icon="circle" iconClass="abstain">
                    <span class="amount">{{ .TotalAbstain }}</span>
                  </projector-icon-container>
                {{ end }}
              </div>
            {{ end }}
          </div>
        {{ end }}
        {{ range .Votes }}
          <div class="vote-entry">
            {{ if $.SingleOption }}
              {{ $iconName := "radio_button_unchecked" }}
              {{ $iconClass := "no-content" }}
              {{ if eq .Value "yes" }}
                {{ $iconName = "check_circle" }}
                {{ $iconClass = "yes" }}
              {{ else if eq .Value "no" }}
                {{ $iconName = "cancel" }}
                {{ $iconClass = "no" }}
              {{ else if eq .Value "abstain" }}
                {{ $iconName = "circle" }}
                {{ $iconClass = "abstain" }}
              {{ end }}
              <projector-icon-container icon="{{ $iconName }}" iconClass="{{ $iconClass }}">
                {{ if .Delegated }}
                  <span class="material-icons">forward</span>
                {{ end }}
                <span class="vote-name {{ if not .Present }}not-present{{ end }}">
                  {{ .LastName }}{{ if and .LastName .FirstName }},{{ end }}
                  {{ .FirstName }}
                </span>
              </projector-icon-container>
            {{ else }}
              <div class="vote-wrapper">
                {{ if eq .Value "yes" }}
                  <span class="vote-value material-icons yes">check_circle</span>
                {{ else if eq .Value "no" }}
                  <span class="vote-value material-icons no">cancel</span>
                {{ else if eq .Value "abstain" }}
                  <span class="vote-value material-icons abstain">circle</span>
                {{ else }}
                  <span class="vote-value">{{ .Value }}</span>
                {{ end }}
                {{ if .Delegated }}
                  <span class="material-icons">forward</span>
                {{ end }}
                <span class="vote-name {{ if not .Present }}not-present{{ end }}">
                  {{ .LastName }}{{ if and .LastName .FirstName }},{{ end }}
                  {{ .FirstName }}
                </span>
              </div>
            {{ end }}
          </div>
        {{ end }}
      {{ end }}
    </div>
  {{ end }}
</div>
