 <!DOCTYPE html>
<html>
<head>
    <title>OpenSlides</title>
</head>

<body>
    <div class="os-overlay-container stretch-to-fill-parent" style="display: block; z-index: 1000;">
        <div id="container">
            <div id="projector" class="nocursor" style="width: 1270px;">
                <div id="container" class="projector-container">
                    <div id="projector" class="projector">
                        <div id="header" class="headerFooter">
                            <div id="eventdata">
                                <div class="event-name ellipsis-overflow">OpenSlides Demo</div>
                                <div class="event-description">Presentation and assembly system</div>
                            </div>
                        </div>

                        <div>
                            <div id="slide" class="content" style="font-size: 100%; margin-top: 0px;">
                            </div>
                        </div>

                        <div id="footer" class="headerFooter">
                            <div class="footertext"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
