@import "fonts.css";

:root {
  --projector-color: #000000;
  --projector-background-color: #FFFFFF;
  --projector-header-background-color: #317796;
  --projector-header-font-color: #FFFFFF;
  --projector-header-h1-color: #317796;
  --projector-chyron-background-color: #317796;
  --projector-chyron-background-color2: #134768;
  --projector-chyron-font-color: #FFFFFF;
  --projector-chyron-font-color2: #FFFFFF;
  --projector-width: 1200;
}

body {
  margin: 0;
  background-color: var(--projector-background-color);
  color: var(--projector-color);
  font-family: OSFont, Fira Sans, Roboto, Arial, Helvetica, sans-serif;
}

.header-footer {
  background-color: var(--projector-header-background-color);
  color: var(--projector-header-font-color);
}

#header {
  width: 100%;
  height: 70px;
  box-shadow: 0 0 7px rgba(0, 0, 0, 0.6);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

#eventdata {
  padding-left: 50px;
  padding-top: 12px;
  padding-right: 130px;
  height: 50px;
  overflow: hidden;
  line-height: 1.1;
}

#eventdata .event-name {
  font-size: 26px;
  font-weight: 400;
}

#eventdata .event-description {
  font-size: 18px;
  opacity: 0.8;
}

.slide {
  display: flex;
  justify-content: center;
}

#slides .slide > .content {
  width: calc(100% - 100px);
  line-height: 1.5;
  margin-top: 20px;
}

#footer {
  position: fixed;
  width: 100%;
  height: 35px;
  bottom: 0;
  z-index: 9;
}

h1 {
  color: var(--projector-header-h1-color);
  font-size: 1.8em;
  font-weight: 500;
  line-height: 1.1em;
  margin: 0;
  padding-bottom: 10px;
}

#projector-page {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: #222;
  display: flex;
  align-items: center;
  justify-content: center;
}

#projector-container {
  position: relative;
  width: calc(var(--projector-container-width) * 1px);
  height: calc(var(--projector-container-height) * 1px);
}

#projector {
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: left top;
  overflow: hidden;

  background-color: var(--projector-background-color);
  color: var(--projector-color);

  width: calc(var(--projector-width) * 1px);
  height: calc(var(--projector-height) * 1px);
  transform: scale(calc(var(--projector-container-width) / var(--projector-width)));

  font-size: 22px;
  line-height: 24px;
}
